.link_list li span.no_presentation,
.link_list li span.presentation_available,
.link_list li span.lesson_strategy,
.link_list li span.challenge,
.link_list li span.reading_challenge {
  margin-top: -23px;
}






a.cancel_button {
  margin-top: 10px;
  padding: 1px 15px 3px;
  top: 8px;
  line-height: 21px;
}

.link_list li.link_list_header {
  min-height:0;
}

.link_list li.link_list_header span {
  top: 10px;
  left: -18px;
}

.columns_2.home .link_list.remove a.action {
  top: -33px;
}

td a.action {
  display: block;
  float: none;
}