.email_button {
  border-radius: 3px;
  margin-top: 5px;
  border: 1px solid #bbbbbb;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;

  &:hover, &.email_selected {
    background-color: #cccccc;
  }

  &.email_selected {
    //font-weight: bold;
  }
}