* {
  font-size: 16px;
}

.sg_wrapper {
  background-color: #eeeeee;
}

.sg_sections_wrapper {
  margin: 0 10%;
}

.sg_code {
  color: #eeeeee;
  margin: 20px;
  padding: 15px;
  background-color: #333333;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.sg_header_wrapper {
  position: relative;
  height: 300px;
  background-color: #666666;
}

.sg_header {
  position: absolute;
  left: 10%;
  top: 30%;
}

.sg_h1 {
  font-size: 4em;
  text-shadow: 1px 1px #888888;
}

.sg_h2 {
  margin-top: 35px;
  font-variant: small-caps;
  font-size: 4em;
}

.sg_h3 {
  font-size: 1.5em;
}

.sg_style_comments {
  padding: 30px 50px;
  margin-top: 15px;
  float: left;
  background-color: #999999;
  width: 200px;
  min-height: 10px;
  line-height: 18px;
}

.sg_style_show {
  padding: 15px;
  margin-top: 15px;
  margin-left: 25px;
  float: left;
  width: 960px;
  background-color: #fafafa;
  min-height: 100px;

  &.sg_fill_area {
    padding: 0;
    width: 990px;
  }

  ul {
    margin-top: 30px;
    li {
      list-style-position: inside;
      list-style-type: disc;
      margin-left: 15px;
    }
  }
}

.sg_grid_color {
  background-color: #e9e9e9;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  color: #666666;
}

.sg_left_nav {
  background-color: #bebebe;
  width: 120px;
  height: 300px;
}

.sg_program_banner {
  background-color: #bebebe;
  width: 990px;
  height: 45px;
}

/**** Current Plato Globals (Dups) ****/
.clear {
  clear: both;
}

.pos_fl {
  float: left;
}

.pos_fr {
  float: right;
}

/*********************/

.pn_grid_row {
  margin-top: 15px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.pn_grid_span {
  margin-left: 15px;
  float: right;

  &.pn_span_full {
    width: 855px;
  }

  &.pn_span_half {
    width: 420px;
  }

  &.pn_span_third {
    width: 275px;
  }

  &.pn_span_fourth {
    width: 202px;
  }
}


