body {
  font-size: 16px;
  color: #555555;
}



.sg_wrapper {
  background-color: #eeeeee;
}

.sg_sections_wrapper {
  margin: 0 10%;
  padding-bottom: 30px;
}

.sg_code {
  color: #eeeeee;
  margin: 20px;
  padding: 15px;
  background-color: #333333;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.sg_header_wrapper {
  position: relative;
  height: 300px;
  background-color: #555555;
}

.sg_header {
  position: absolute;
  left: 10%;
  top: 30%;
}

.sg_nav_links {
  position: absolute;
  bottom: 5%;
  left: 10%;

  li {
    float: left;
    border-right: 1px solid #737573;
    padding: 5px 15px;

    a {
      color: #eeeeee;
      font-size: 22px;

      &:hover {
        color: #bbbbbb;
      }
    }
  }
}

.sg_h1 {
  color: #bba368;
  font-size: 4em;
  text-shadow: 1px 1px #eeca9a, 0 0 5px #333333
}

.sg_h2 {
  display: inline-block;
  width: 400px;
  margin-top: 35px;
  font-variant: small-caps;
  font-size: 4em;
  cursor: pointer;

  i {
    font-size: .7em;
    color: #999999;

    &:hover {
      color: #b0b1b3;
    }
  }
}

.sg_h3 {
  font-size: 1.5em;
}

.sg_back_to_top {
  display: block;
  float: left;
  color: #5e4d80;
  text-shadow: 0 1px #2d1953;
  position: fixed;
  left: 30px;
  top: 25px;
  line-height: 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;

  i {
    font-size: 40px;
  }
}

.sg_container {
  display: none;
}

.sg_style_comments {
  padding: 30px 50px;
  margin-top: 15px;
  float: left;
  background-color: #bba368;
  width: 200px;
  min-height: 10px;
  line-height: 18px;
}

.sg_style_show {
  padding: 15px;
  margin-top: 15px;
  margin-left: 25px;
  float: left;
  width: 960px;
  background-color: #fafafa;
  min-height: 100px;

  .sg_span4 {
    width: 30%;
    margin-right: 3%;
  }

  &.sg_fill_area {
    padding: 0;
    width: 990px;
  }

  ul {
    margin-top: 30px;
    li {
      list-style-position: inside;
      list-style-type: disc;
      margin-left: 15px;
    }

    &.sg_unstyled {
      li {
        margin-top: 1.3em;
        list-style-type: none;
      }
    }
  }

  div.interaction_hotlinks {
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;

    &:hover, &.sg_interaction_active {
      background-color: #f0f0f0;
      text-decoration: underline;
    }
  }

  .sg_hotlink_container {
    margin-top: 10px;
  }

  .sg_subtle {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 25px;
  }
}

.sg_grid_color {
  background-color: #e9e9e9;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  color: #666666;
}

.sg_left_nav {
  background-color: #bebebe;
  width: 120px;
  height: 350px;
}

.sg_program_banner {
  background-color: #bebebe;
  width: 990px;
  height: 45px;
}

.sg_layout_breadcrumbs {
  margin-left: 15px;
  font-size: 13px;
  line-height: 40px;
  color: #999999;

  span {
    color: #583597;
    cursor: pointer;
  }
}

.sg_layout_h1 {
  margin-left: 15px;
  color: #555555;
  font-weight: bold;

  h1 {
    font-size: 20px !important;
    line-height: 20px;
    padding-bottom: 0;
  }
}

.sg_layout_grid {
  float: left;
  width: 855px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #cccccc;
  height: 400px;
}

.sg_color_swatch {
  width: 130px;
  height: 130px;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  float: left;
  margin-right: 20px;

  span {
    font-weight: bold;
  }

  &.tci_purple {
    background-color: #522e91;
  }

  &.tci_lt_blue {
    background-color: #00a4e3;
  }

  &.tci_orange {
    background-color: #f38f1d;
  }

  &.tci_eggplant {
    background-color: #5261ac;
  }

  &.tci_yellow {
    background-color: #ffc50c;
  }

  &.tci_avocado {
    background-color: #b2cc1e;
  }

  &.tci_red {
    background-color: #ee3224;
  }

  &.tci_green {
    background-color: #49a942;
  }

  &.tci_dk_blue {
    background-color: #2376bc;
  }

  &.tci_teal {
    background-color: #00af9d;
  }

  &.tci_rust {
    background-color: #b44539;
  }

  &.tci_dk_avocado {
    background-color: #78a22f;
  }

  &.tci_orange_2 {
    background-color: #d6741a;
  }

  &.tci_dk_teal {
    background-color: #008576;
  }

  &.tci_forest_green {
    background-color: #005c42;
  }

  &.tci_orange_3 {
    background-color: #f57421;
  }

  &.tci_sage {
    background-color: #205352;
  }

  &.tci_orange_4 {
    background-color: #e58e1a;
  }

  &.tci_teal_3 {
    background-color: #38939B;
  }

  &.tci_navy_blue {
    background-color: #005595;
  }

  &.tci_teal_4 {
    background-color: #008ca8;
  }

  &.tci_lt_grey {
    background-color: #b0b1b3;
  }

  &.tci_dk_grey {
    background-color: #868f98;
  }

  &.tci_red_grey {
    background-color: #978f86;
  }

  &.tci_cranberry {
    background-color: #800000;
  }
}

#email_info {
  margin-top: 20px;
  padding: 10px;
  line-height: 22px;
  background-color: #cccccc;
}

/**** Current Plato Globals (Dups) ****/
.clear {
  clear: both;
}

.pos_fl {
  float: left;
}

.pos_fr {
  float: right;
}

.ml15 {
  margin-left: 15px;
}

.pold_default_link {
  color: #522E91;
  font-size: 14px;
  font-weight: bold;

  &.pold_toc_link {
    &:hover {
      color: #875dbd;
    }
  }
}

.pold_breadcrumbs_link {
  font-variant: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
}

.pold_footer_link {
  font-size: 12px;
}

/*********************/

.pn_grid_row {
  margin-top: 15px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.pn_grid_span {
  margin-left: 15px;
  float: right;

  &.pn_span_full {
    width: 855px;
  }

  &.pn_span_half {
    width: 420px;
  }

  &.pn_span_third {
    width: 275px;
  }

  &.pn_span_fourth {
    width: 202px;
  }

  &.pn_span_two_third {
    width: 565px;
  }
}



