<div id="sg_buttons_container" class="sg_container">
  <div class="sg_style_comments">
    Buttons are always used as form submission links, and sometimes used (especially admin)
    to make navigation links stand out.
  </div>
  <div class="sg_style_show">
    <h2>Default Subscriber Button</h2>
    <p class="sg_subtle">To be used on all forms (real and pseudo)</p>
    <br>
    <button class="pos_fl mr20">Default User Button</button>
    <a href="" class="pn_submit_button pos_fl mr20">Default User Button (as link)</a>
    <button class="pos_fl version_2 mr20">Proposed Primary</button>
    <button class="pos_fl alt_action">Proposed Secondary</button>
    <div class="clear"></div>
    <hr />
    <h2>Default Admin Button</h2>
    <p class="sg_subtle">To be used on all admin forms (real and pseudo)</p>
    <br>
    <button class="pn_submit_button admin pos_fl mr20">Default Admin Button</button>
    <a href="" class="pn_submit_button admin pos_fl">Default Admin Button (as link)</a>
    <div class="clear"></div>
    <hr />
  </div>
</div>