<div id="sg_code_container" class="sg_container">

  <div class="sg_style_comments">

  </div>
  <div class="sg_style_show">
    <h3 class="sg_h3">Ruby & JavaScript</h3>
    <ul>
      <li>Indentations of 2 spaces<br>

        <div class="sg_code">
          class StyleGuidesController < ApplicationController<br>
          &nbsp;&nbsp;def indentation<br>
          &nbsp;&nbsp;&nbsp;&nbsp;@indentations = Space.where(amount: 2)<br>
          &nbsp;&nbsp;end<br>
          end
        </div>
        <div class="sg_code">
          var spacing = function(type) {<br>
          &nbsp;&nbsp;if (type === "indentation") {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;return 2;<br>
          &nbsp;&nbsp;}<br>
          }
        </div>
      </li>
    </ul>
    <h3 class="sg_h3">JavaScript</h3>
    <ul>
      <li>
        Functions / Methods<br>

        <div class="sg_code">
          function thisIsAFunction() { return true; }
        </div>
      </li>
      <li>
        Constructors<br>

        <div class="sg_code">
          function Magnifier() { return true; }
        </div>
      </li>
      <li>
        Variables<br>

        <div class="sg_code">
          var this_is_a_variable_name;
        </div>
      </li>
      <li>
        Constants<br>

        <div class="sg_code">
          FORCE_OF_GRAVITY
        </div>
      </li>
    </ul>
  </div>
</div>