<div class="sg_style_comments">
  <p>These are TCI's current brand colors. Program colors are drawn from this collection.</p>
</div>
<div class="sg_style_show">
  <div class="sg_color_swatch tci_purple">
    <span>rgb:</span> 82, 46, 145<br>
    <span>cmyk:</span> 85, 100, 0, 0<br>
    <span>Hex:</span> 522e91<br>
    <span>PMS:</span> 2597 C
  </div>

  <div class="sg_color_swatch tci_lt_blue">
    <span>rgb:</span> 0, 164, 227<br>
    <span>cmyk:</span> 90, 11, 0, 0<br>
    <span>Hex:</span> 00a4e3<br>
    <span>PMS:</span> 2995 C
  </div>

  <div class="sg_color_swatch tci_orange">
    <span>rgb:</span> 243, 143, 29<br>
    <span>cmyk:</span> 0, 51, 100, 1<br>
    <span>Hex:</span> f38f1d<br>
    <span>PMS:</span> 152 C
  </div>

  <div class="sg_color_swatch tci_eggplant">
    <span>rgb:</span> 82, 97, 172<br>
    <span>cmyk:</span> 77, 68, 0, 0<br>
    <span>Hex:</span> 5261ac<br>
    <span>PMS:</span> 2725 C
  </div>

  <div class="sg_color_swatch tci_yellow">
    <span>rgb:</span> 255, 197, 12<br>
    <span>cmyk:</span> 0, 30, 100, 0<br>
    <span>Hex:</span> ffc50c<br>
    <span>PMS:</span> 130 C
  </div>

  <div class="clear"></div>

  <div class="mt20">
    <div class="sg_color_swatch tci_avocado">
      <span>rgb:</span> 178, 204, 30<br>
      <span>cmyk:</span> 20, 0, 100, 19<br>
      <span>Hex:</span> b2cc1e<br>
      <span>PMS:</span> 383 C
    </div>

    <div class="sg_color_swatch tci_red">
      <span>rgb:</span> 238, 50, 36<br>
      <span>cmyk:</span> 0, 95, 100, 0<br>
      <span>Hex:</span> ee3224<br>
      <span>PMS:</span> 485 C
    </div>

    <div class="sg_color_swatch tci_dk_blue">
      <span>rgb:</span> 35, 118, 188<br>
      <span>cmyk:</span> 84, 50, 0, 0<br>
      <span>Hex:</span> 2376bc<br>
      <span>PMS:</span> 640
    </div>

    <div class="sg_color_swatch tci_teal">
      <span>rgb:</span> 0, 175, 157<br>
      <span>cmyk:</span> 95, 0, 47, 0<br>
      <span>Hex:</span> 00af9d<br>
      <span>PMS:</span> 3275 C
    </div>

    <div class="sg_color_swatch tci_rust">
      <span>rgb:</span> 180, 69, 57<br>
      <span>cmyk:</span> 0, 70, 66, 30<br>
      <span>Hex:</span> b44539<br>
      <span>PMS:</span> 492 C
    </div>
  </div>

  <div class="clear"></div>

  <div class="mt20">
    <div class="sg_color_swatch tci_dk_avocado">
      <span>rgb:</span> 120, 162, 47<br>
      <span>cmyk:</span> 45, 0, 100, 24<br>
      <span>Hex:</span> 78a22f<br>
      <span>PMS:</span> 377 C
    </div>

    <div class="sg_color_swatch tci_orange_2">
      <span>rgb:</span> 214, 116, 26<br>
      <span>cmyk:</span> 13, 64, 100, 1<br>
      <span>Hex:</span> d6741a<br>
      <span>PMS:</span> 1525 C
    </div>

    <div class="sg_color_swatch tci_dk_teal">
      <span>rgb:</span> 0, 133, 118<br>
      <span>cmyk:</span> 85, 0, 50, 31<br>
      <span>Hex:</span> 008576<br>
      <span>PMS:</span> 562
    </div>

    <div class="sg_color_swatch tci_forest_green">
      <span>rgb:</span> 0, 92, 66<br>
      <span>cmyk:</span> 76, 0, 64, 62<br>
      <span>Hex:</span> 005c42<br>
      <span>PMS:</span> 626 C
    </div>

    <div class="sg_color_swatch tci_orange_3">
      <span>rgb:</span> 245, 116, 33<br>
      <span>cmyk:</span> 0, 67, 99, 0<br>
      <span>Hex:</span> f57421<br>
      <span>PMS:</span> 1665
    </div>
  </div>

  <div class="clear"></div>

  <div class="mt20">
    <div class="sg_color_swatch tci_sage">
      <span>rgb:</span> 32, 83, 82<br>
      <span>cmyk:</span> 55, 0, 27, 73<br>
      <span>Hex:</span> 205352<br>
      <span>PMS:</span> 5477
    </div>

    <div class="sg_color_swatch tci_orange_4">
      <span>rgb:</span> 229, 142, 26<br>
      <span>cmyk:</span> 0, 30, 70, 0<br>
      <span>Hex:</span> e58e1a<br>
      <span>PMS:</span> 145 C
    </div>

    <div class="sg_color_swatch tci_teal_3">
      <span>rgb:</span> 56, 147, 155<br>
      <span>cmyk:</span> 62, 0, 21, 31<br>
      <span>Hex:</span> 38939b<br>
      <span>PMS:</span> 5483
    </div>

    <div class="sg_color_swatch tci_navy_blue">
      <span>rgb:</span> 0, 85, 149<br>
      <span>cmyk:</span> 100, 56, 0, 23<br>
      <span>Hex:</span> 005595<br>
      <span>PMS:</span> 647 C
    </div>

    <div class="sg_color_swatch tci_teal_4">
      <span>rgb:</span> 0, 140, 168<br>
      <span>cmyk:</span> 100, 0, 19, 23<br>
      <span>Hex:</span> 008ca8<br>
      <span>PMS:</span> 3145 C
    </div>
  </div>

  <div class="clear"></div>

  <div class="mt20">
    <div class="sg_color_swatch tci_lt_grey">
      <span>rgb:</span> 176, 177, 179<br>
      <span>cmyk:</span> 0, 0, 0, 31<br>
      <span>Hex:</span> b0b1b3<br>
      <span>PMS:</span> Cool Gray 6 C
    </div>

    <div class="sg_color_swatch tci_dk_grey">
      <span>rgb:</span> 134, 143, 152<br>
      <span>cmyk:</span> 5, 0, 0, 45<br>
      <span>Hex:</span> 868f98<br>
      <span>PMS:</span> 430 C
    </div>

    <div class="sg_color_swatch tci_red_grey">
      <span>rgb:</span> 151, 143, 134<br>
      <span>cmyk:</span> 0, 7, 17, 43<br>
      <span>Hex:</span> 978f86<br>
      <span>PMS:</span> 403 C
    </div>

    <div class="sg_color_swatch tci_cranberry">
      <span>rgb:</span> 128, 0, 0<br>
      <span>cmyk:</span> 0, 100, 75, 36<br>
      <span>Hex:</span> 800000<br>
      <span>PMS:</span> 1807 C
    </div>

    <div class="sg_color_swatch tci_teal_4">
      <span>rgb:</span> 0, 140, 168<br>
      <span>cmyk:</span> 100, 0, 19, 23<br>
      <span>Hex:</span> 008ca8<br>
      <span>PMS:</span> 3145 C
    </div>
  </div>
</div>