<div id="sg_colors_container" class="sg_container">

<div class="sg_style_comments">
  <p>These are TCI's current brand colors.</p>
</div>
<div class="sg_style_show">
(Click section to expand)<br><br>
<div id="program_colors" class="sg_color_divider">Program Colors</div>
<div id="program_colors_wrapper" class="sg_colors_wrapper">
<div class="sg_color_column left">
  <div class="sg_color_swatch">
    <div class="color_sample tci_purple">
    </div>
    <div class="color_info">
      <span class="color_uses">TCI Purple (default program color)</span>
      <br><br>
      <span>rgb:</span> 82, 46, 145<br>
      <span>cmyk:</span> 85, 100, 0, 0<br>
      <span>Hex:</span> 522e91<br>
      <span>PMS:</span> 2597 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_lt_blue">
    </div>
    <div class="color_info">
      <span class="color_uses">K: SSA! Me and My World & BSA! Exploring Science Practices</span>
      <br><br>
      <span>rgb:</span> 0, 164, 227<br>
      <span>cmyk:</span> 90, 11, 0, 0<br>
      <span>Hex:</span> 00a4e3<br>
      <span>PMS:</span> 2995 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_orange">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 1: SSA! My School and Family & BSA! Exploring Science Practices</span>
      <br><br>
      <span>rgb:</span> 243, 143, 29<br>
      <span>cmyk:</span> 0, 51, 100, 1<br>
      <span>Hex:</span> f38f1d<br>
      <span>PMS:</span> 152 C
    </div>
  </div>


  <div class="sg_color_swatch">
    <div class="color_sample tci_eggplant">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 2: SSA! My Community & BSA! Exploring Science Practices</span>
      <br><br>
      <span>rgb:</span> 82, 97, 172<br>
      <span>cmyk:</span> 77, 68, 0, 0<br>
      <span>Hex:</span> 5261ac<br>
      <span>PMS:</span> 2725 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_yellow">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 3: SSA! Our Community and Beyond & BSA! Exploring Science Practices</span>
      <br><br>
      <span>rgb:</span> 255, 197, 12<br>
      <span>cmyk:</span> 0, 30, 100, 0<br>
      <span>Hex:</span> ffc50c<br>
      <span>PMS:</span> 130 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_avocado">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 4: SSA! Regions of Our Country & BSA! Exploring Science Practices</span>
      <br><br>
      <span>rgb:</span> 178, 204, 30<br>
      <span>cmyk:</span> 20, 0, 100, 19<br>
      <span>Hex:</span> b2cc1e<br>
      <span>PMS:</span> 383 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_red">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 5: SSA! America's Past & BSA! Exploring Science Practices</span>
      <br><br>
      <span>rgb:</span> 238, 50, 36<br>
      <span>cmyk:</span> 0, 95, 100, 0<br>
      <span>Hex:</span> ee3224<br>
      <span>PMS:</span> 485 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_green">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 2 (FL): SSA! Our American Community</span>
      <br><br>
      <span>rgb:</span> 73, 169, 66<br>
      <span>cmyk:</span> 70, 0, 100, 9<br>
      <span>Hex:</span> 49a942<br>
      <span>PMS:</span> 362
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_dk_blue">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 4 (FL): SSA! Florida and Its People</span>
      <br><br>
      <span>rgb:</span> 35, 118, 188<br>
      <span>cmyk:</span> 84, 50, 0, 0<br>
      <span>Hex:</span> 2376bc<br>
      <span>PMS:</span> 640
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_teal">
    </div>
    <div class="color_info">
      <span class="color_uses">Grade 4 (CA): SSA! California's Promise</span>
      <br><br>
      <span>rgb:</span> 0, 175, 157<br>
      <span>cmyk:</span> 95, 0, 47, 0<br>
      <span>Hex:</span> 00af9d<br>
      <span>PMS:</span> 3275 C
    </div>
  </div>
  <div class="sg_color_swatch">
    <div class="color_sample tci_rust">
    </div>
    <div class="color_info">
      <span class="color_uses">HA! The Ancient World</span>
      <br><br>
      <span>rgb:</span> 180, 69, 57<br>
      <span>cmyk:</span> 0, 70, 66, 30<br>
      <span>Hex:</span> b44539<br>
      <span>PMS:</span> 492 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_lt_grey">
    </div>
    <div class="color_info">
      <span class="color_uses">Elementary School Neutral Gray</span>
      <br><br>
      <span>rgb:</span> 176, 177, 179<br>
      <span>cmyk:</span> 0, 0, 0, 31<br>
      <span>Hex:</span> b0b1b3<br>
      <span>PMS:</span> Cool Gray 6 C
    </div>
  </div>
  <div class="sg_color_swatch">
    <div class="color_sample tci_dk_grey">
    </div>
    <div class="color_info">
      <span class="color_uses">Middle School Neutral Gray</span>
      <br><br>
      <span>rgb:</span> 134, 143, 152<br>
      <span>cmyk:</span> 5, 0, 0, 45<br>
      <span>Hex:</span> 868f98<br>
      <span>PMS:</span> 430 C
    </div>
  </div>
</div>


<div class="sg_color_column">
  <div class="sg_color_swatch">
    <div class="color_sample tci_dk_avocado">
    </div>
    <div class="color_info">
      <span class="color_uses">HA! The Medieval World and Beyond</span>
      <br><br>
      <span>rgb:</span> 120, 162, 47<br>
      <span>cmyk:</span> 45, 0, 100, 24<br>
      <span>Hex:</span> 78a22f<br>
      <span>PMS:</span> 377 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_orange_2">
    </div>
    <div class="color_info">
      <span class="color_uses">HA! The United States Through Industrialism<br>HA! The United States Through Modern Times</span>
      <br><br>
      <span>rgb:</span> 214, 116, 26<br>
      <span>cmyk:</span> 13, 64, 100, 1<br>
      <span>Hex:</span> d6741a<br>
      <span>PMS:</span> 1525 C
    </div>
  </div>
  <div class="sg_color_swatch">
    <div class="color_sample tci_dk_teal">
    </div>
    <div class="color_info">
      <span class="color_uses">Gov Alive! Civics, Geography, and Economics (Florida Edition)</span>
      <br><br>
      <span>rgb:</span> 0, 133, 118<br>
      <span>cmyk:</span> 85, 0, 50, 31<br>
      <span>Hex:</span> 008576<br>
      <span>PMS:</span> 562
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_forest_green">
    </div>
    <div class="color_info">
      <span class="color_uses">Geography Alive! Regions and People</span>
      <br><br>
      <span>rgb:</span> 0, 92, 66<br>
      <span>cmyk:</span> 76, 0, 64, 62<br>
      <span>Hex:</span> 005c42<br>
      <span>PMS:</span> 626 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_orange_3">
    </div>
    <div class="color_info">
      <span class="color_uses">WCA! Contemporary Studies</span>
      <br><br>
      <span>rgb:</span> 245, 116, 33<br>
      <span>cmyk:</span> 0, 67, 99, 0<br>
      <span>Hex:</span> f57421<br>
      <span>PMS:</span> 1665
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_sage">
    </div>
    <div class="color_info">
      <span class="color_uses">HA! Pursuing American Ideals (c) 2013</span>
      <br><br>
      <span>rgb:</span> 32, 83, 82<br>
      <span>cmyk:</span> 55, 0, 27, 73<br>
      <span>Hex:</span> 205352<br>
      <span>PMS:</span> 5477
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_orange_4">
    </div>
    <div class="color_info">
      <span class="color_uses">HA! Pursuing American Ideals</span>
      <br><br>
      <span>rgb:</span> 229, 142, 26<br>
      <span>cmyk:</span> 0, 30, 70, 0<br>
      <span>Hex:</span> e58e1a<br>
      <span>PMS:</span> 145 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_teal_3">
    </div>
    <div class="color_info">
      <span class="color_uses">HA! World Connections</span>
      <br><br>
      <span>rgb:</span> 56, 147, 155<br>
      <span>cmyk:</span> 62, 0, 21, 31<br>
      <span>Hex:</span> 38939b<br>
      <span>PMS:</span> 5483
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_navy_blue">
    </div>
    <div class="color_info">
      <span class="color_uses">Government Alive! Power, Politics and You</span>
      <br><br>
      <span>rgb:</span> 0, 85, 149<br>
      <span>cmyk:</span> 100, 56, 0, 23<br>
      <span>Hex:</span> 005595<br>
      <span>PMS:</span> 647 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_teal_4">
    </div>
    <div class="color_info">
      <span class="color_uses">Econ Alive! The Power to Choose</span>
      <br><br>
      <span>rgb:</span> 0, 140, 168<br>
      <span>cmyk:</span> 100, 0, 19, 23<br>
      <span>Hex:</span> 008ca8<br>
      <span>PMS:</span> 3145 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_red_grey">
    </div>
    <div class="color_info">
      <span class="color_uses">High School Neutral Gray</span>
      <br><br>
      <span>rgb:</span> 151, 143, 134<br>
      <span>cmyk:</span> 0, 7, 17, 43<br>
      <span>Hex:</span> 978f86<br>
      <span>PMS:</span> 403 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_cranberry">
    </div>
    <div class="color_info">
      <span class="color_uses">TCI Academy Cranberry</span>
      <br><br>
      <span>rgb:</span> 128, 0, 0<br>
      <span>cmyk:</span> 0, 100, 75, 36<br>
      <span>Hex:</span> 800000<br>
      <span>PMS:</span> 1807 C
    </div>
  </div>
</div>
</div>
<div class="clear"></div>
<div id="science_colors" class="sg_color_divider">Science Strands</div>
<div id="science_colors_wrapper" class="sg_colors_wrapper">
<div class="sg_color_column left">
  <div class="sg_color_swatch">
    <div class="color_sample tci_lt_green">
    </div>
    <div class="color_info">
      <span class="color_uses">Science Unit: Life Science</span>
      <br><br>
      <span>rgb:</span> 63, 174, 42<br>
      <span>cmyk:</span> 75, 4, 100, 0<br>
      <span>Hex:</span> 3fae2a<br>
      <span>PMS:</span> 316 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample tci_orange">
    </div>
    <div class="color_info">
      <span class="color_uses">Science Unit: Earth and Space Science</span>
      <br><br>
      <span>rgb:</span> 243, 143, 29<br>
      <span>cmyk:</span> 0, 51, 100, 1<br>
      <span>Hex:</span> f38f1d<br>
      <span>PMS:</span> 152 C
    </div>
  </div>
</div>

<div class="sg_color_column">
  <div class="sg_color_swatch">
    <div class="color_sample tci_lt_blue">
    </div>
    <div class="color_info">
      <span class="color_uses">Science Unit: Physical Science</span>
      <br><br>
      <span>rgb:</span> 0, 164, 227<br>
      <span>cmyk:</span> 90, 11, 0, 0<br>
      <span>Hex:</span> 00a4e3<br>
      <span>PMS:</span> 2995 C
    </div>
  </div>
</div>
</div>

<div class="clear"></div>
<div id="brights_colors" class="sg_color_divider">Brights</div>
<div id="brights_colors_wrapper" class="sg_colors_wrapper">
<div class="sg_color_column left">
  <div class="sg_color_swatch">
    <div class="color_sample bright_1">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 35, 62, 148<br>
      <span>cmyk:</span> 100, 84, 11, 3<br>
      <span>Hex:</span> 233e94<br>
      <span>PMS:</span> 7687 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample bright_2">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 82, 97, 172<br>
      <span>cmyk:</span> 77, 68, 0, 0<br>
      <span>Hex:</span> 5261ac<br>
      <span>PMS:</span> 2725 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample bright_3">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 238, 50, 36<br>
      <span>cmyk:</span> 0, 95, 100, 0<br>
      <span>Hex:</span> ee3224<br>
      <span>PMS:</span> 485 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample bright_4">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 0, 128, 110<br>
      <span>cmyk:</span> 99, 26, 66, 9<br>
      <span>Hex:</span> 00806e<br>
      <span>PMS:</span> 562 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample bright_5">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 0, 105, 166<br>
      <span>cmyk:</span> 92, 57, 9, 1<br>
      <span>Hex:</span> 0069a6<br>
      <span>PMS:</span> 7691 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample bright_6">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 149, 52, 140 <br>
      <span>cmyk:</span> 48, 94, 5, 0 <br>
      <span>Hex:</span> 95348c <br>
      <span>PMS:</span> 513 C
    </div>
  </div>
</div>

<div class="sg_color_column">
  <div class="sg_color_swatch">
  <div class="color_sample bright_7">
  </div>
  <div class="color_info">
    <span class="color_uses"></span>
    <span>rgb:</span> 243, 143, 29 <br>
    <span>cmyk:</span> 0, 51, 100, 1 <br>
    <span>Hex:</span> f38f1d <br>
    <span>PMS:</span> 152 C
  </div>
</div>

<div class="sg_color_swatch">
  <div class="color_sample bright_8">
  </div>
  <div class="color_info">
    <span class="color_uses"></span>
    <span>rgb:</span> 63, 174, 42 <br>
    <span>cmyk:</span> 75, 4, 100, 0 <br>
    <span>Hex:</span> 3fae2a <br>
    <span>PMS:</span> 316 C
  </div>
</div>


<div class="sg_color_swatch">
  <div class="color_sample bright_9">
  </div>
  <div class="color_info">
    <span class="color_uses"></span>
    <span>rgb:</span> 0, 164, 227 <br>
    <span>cmyk:</span> 90, 11, 0, 0 <br>
    <span>Hex:</span> 00a4e3 <br>
    <span>PMS:</span> 2995 C
  </div>
</div>


<div class="sg_color_swatch">
  <div class="color_sample bright_10">
  </div>
  <div class="color_info">
    <span class="color_uses"></span>
    <span>rgb:</span> 176, 0, 96 <br>
    <span>cmyk:</span> 28, 100, 36, 6 <br>
    <span>Hex:</span> b00060 <br>
    <span>PMS:</span> 227 C
  </div>
</div>


<div class="sg_color_swatch">
  <div class="color_sample bright_11">
  </div>
  <div class="color_info">
    <span class="color_uses"></span>
    <span>rgb:</span> 255, 197, 12 <br>
    <span>cmyk:</span> 0, 30, 100, 0 <br>
    <span>Hex:</span> ffc50c <br>
    <span>PMS:</span> 130 C
  </div>
</div>


<div class="sg_color_swatch">
  <div class="color_sample bright_12">
  </div>
  <div class="color_info">
    <span class="color_uses"></span>
    <span>rgb:</span> 178, 204, 30 <br>
    <span>cmyk:</span> 20, 0, 100, 19 <br>
    <span>Hex:</span> b2cc1e <br>
    <span>PMS:</span> 383 C
  </div>
</div>
</div>
</div>

<div class="clear"></div>
<div id="neutral_colors" class="sg_color_divider">Neutral</div>
<div id="neutral_colors_wrapper" class="sg_colors_wrapper">
<div class="sg_color_column left">
  <div class="sg_color_swatch">
    <div class="color_sample neutral_1">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 141, 132, 122 <br>
      <span>cmyk:</span> 45, 42, 49, 7 <br>
      <span>Hex:</span> 8d847a <br>
      <span>PMS:</span> 403 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample neutral_2">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 82, 83, 73<br>
      <span>cmyk:</span> 62, 54, 64, 36<br>
      <span>Hex:</span> 525349 <br>
      <span>PMS:</span> 418 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample neutral_3">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 34, 31, 30 <br>
      <span>cmyk:</span> 15, 16, 17, 90 <br>
      <span>Hex:</span> 343130 <br>
      <span>PMS:</span>
    </div>
  </div>
</div>

<div class="sg_color_column">
  <div class="sg_color_swatch">
    <div class="color_sample neutral_4">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 118, 57, 27<br>
      <span>cmyk:</span> 34, 78, 98, 39 <br>
      <span>Hex:</span> 76391b <br>
      <span>PMS:</span> 168 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample neutral_5">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 210, 184, 135 <br>
      <span>cmyk:</span> 18, 25, 53, 0 <br>
      <span>Hex:</span> d2b887 <br>
      <span>PMS:</span> 7602 C
    </div>
  </div>
</div>
</div>
<div class="clear"></div>
<div id="background_colors" class="sg_color_divider">Background</div>
<div id="background_colors_wrapper" class="sg_colors_wrapper">
<div class="sg_color_column left">
  <div class="sg_color_swatch">
    <div class="color_sample background_1">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 164, 215, 244 <br>
      <span>cmyk:</span> 33, 3, 0, 0<br>
      <span>Hex:</span> a4d7f4 <br>
      <span>PMS:</span> 291 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample background_2">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 214, 214, 212 <br>
      <span>cmyk:</span> 0, 0, 0, 10<br>
      <span>Hex:</span> d6d6d4 <br>
      <span>PMS:</span> Cool Grey 2
    </div>
  </div>
</div>

<div class="sg_color_column">
  <div class="sg_color_swatch">
    <div class="color_sample background_3">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 216, 207, 198 <br>
      <span>cmyk:</span> 0, 4, 8, 17 <br>
      <span>Hex:</span> d8cfc6 <br>
      <span>PMS:</span> Warm Grey 3
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample background_4">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 141, 132, 122 <br>
      <span>cmyk:</span> 45, 42, 49, 7 <br>
      <span>Hex:</span> 8d847a <br>
      <span>PMS:</span> 403 C
    </div>
  </div>
</div>
  </div>

<div class="clear"></div>
<div id="medical_colors" class="sg_color_divider">Medical</div>
<div id="medical_colors_wrapper" class="sg_colors_wrapper">
<div class="sg_color_column left">
  <div class="sg_color_swatch">
    <div class="color_sample medical_1">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 128, 38, 41<br>
      <span>cmyk:</span> 31, 92, 82, 35<br>
      <span>Hex:</span> 802629<br>
      <span>PMS:</span> 18185 C
    </div>
  </div>

  <div class="sg_color_swatch">
    <div class="color_sample medical_2">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 200, 134, 141<br>
      <span>cmyk:</span> 21, 54, 34, 0<br>
      <span>Hex:</span> c8868d<br>
      <span>PMS:</span> 500 C
    </div>
  </div>
</div>

<div class="sg_color_column">
  <div class="sg_color_swatch">
    <div class="color_sample medical_3">
    </div>
    <div class="color_info">
      <span class="color_uses"></span>
      <span>rgb:</span> 235, 165, 93<br>
      <span>cmyk:</span> 6, 39, 72, 0<br>
      <span>Hex:</span> eba55d<br>
      <span>PMS:</span> 7411 C
    </div>
  </div>
</div>
</div>
</div>
</div>