<div id="sg_email_container" class="sg_container">
  <div class="sg_style_comments">
    Click the title of whatever email you want to inspect, or press Clear to remove the currently selected email.
  </div>
  <div class="dev_notes hide">
    Grab email from Plato. Escape it using this site:
    http://www.freeformatter.com/javascript-escape.html
    Paste returned string into sgEmail.js
  </div>
  <div class="sg_style_show">
    <div id='email_clear' class='email_button'>Clear</div>
    <div id='email_a_quote' class='email_button'>#1 Email a Quote</div>
    <div id='customer_online_order' class='email_button'>#2 Customer Submits Order via Store</div>
    <div id='customer_fax_order' class='email_button'>#3 Customer Submits Order via Email, CSV, or Fax</div>
    <div id='order_ships_and_invoices' class='email_button'>#4 Print items in Final Order & Invoicing Status</div>
    <div id='subscriptions_ready' class='email_button'>#5 Subs CSV is uploaded to Plato & Processed</div>
    <div id='parent_purchase' class='email_button'>#6 Parent Purchasing Subscriptions (inactive)</div>
    <div id='independent_parent' class='email_button'>#7 Independent Parent Purchases Subscriptions (inactive)</div>
    <div id='sub_admin_invites_teacher' class='email_button'>#8 Subscription Admin Sends Email Invite to Teacher for Subscription</div>
    <div id='batch_upload_teachers' class='email_button'>#9 Batch Upload Teachers</div>
    <div id='batch_upload_students' class='email_button'>#10 Batch Upload Students</div>
    <div id='low_activation_rate' class='email_button'>#11 Low Activation Rate (inactive)</div>
    <div id='expiration_of_subscriptions' class='email_button'>#12 Expiration of Subscriptions (inactive)</div>
    <div id='welcome' class='email_button'>#13 Welcome</div>
    <div id='day_10' class='email_button'>#14 Day 10 of Trial</div>
    <div id='day_31' class='email_button'>#15 Day 31: End of Trial</div>
    <div id='wire_transfer' class='email_button'> #16 Customer Submits a Wire Transfer Order via Store</div>
    <div id='scores_csv' class='email_button'> #17 Teacher clicks on Export (scores) Table to CSV</div>
    <div id='pacings_guide' class='email_button'> #19 User clicks to export Pacing Guide</div>
    <hr />
    <div id="email_info"></div>
    <iframe id="template-html" width="100%"></iframe>
  </div>
</div>