<div id="sg_email_container" class="sg_container">
  <div class="sg_style_comments">
    Click the title of whatever email you want to inspect, or press Clear to remove the currently selected email.
  </div>
  <div class="sg_style_show">
    <div id='email_clear' class='email_button'>Clear</div>
    <div id='email_a_quote' class='email_button'>Email a Quote</div>
    <div id='batch_upload_students' class='email_button'>Batch Upload Students</div>
    <div id='low_activation_rate' class='email_button'>Low Activation Rate</div>
    <div id='expiration_of_subscriptions' class='email_button'>Expiration of Subscriptions</div>
    <div id='welcome' class='email_button'>Welcome</div>
    <iframe id="template-html" width="100%"></iframe>
  </div>
</div>