<div class="sg_style_comments">
  <p>This is my proposal for a grid system moving forward.</p>

  <p>Note that the four-wide row is not aligned (due to our 990px width). Avoid using it.</p>
</div>
<div class="sg_style_show sg_fill_area">
  <div class="sg_program_banner"></div>
  <div class="pos_fl sg_left_nav"></div>
  <div class="pos_fr">
    <div class="pn_grid_row">
      <div class="pn_grid_span pn_span_full sg_grid_color">
        pn_span_full (855px)
      </div>
    </div>

    <div class="pn_grid_row">
      <div class="pn_grid_span pn_span_half sg_grid_color">
        pn_span_half (420px)
      </div>
      <div class="pn_grid_span pn_span_half sg_grid_color">
        pn_span_half (420px)
      </div>
    </div>

    <div class="pn_grid_row">
      <div class="pn_grid_span pn_span_third sg_grid_color">
        pn_span_third (275px)
      </div>
      <div class="pn_grid_span pn_span_third sg_grid_color">
        pn_span_third (275px)
      </div>
      <div class="pn_grid_span pn_span_third sg_grid_color">
        pn_span_third (275px)
      </div>
    </div>

    <div class="pn_grid_row">
      <div class="pn_grid_span pn_span_fourth sg_grid_color">
        pn_span_fourth (202px)
      </div>
      <div class="pn_grid_span pn_span_fourth sg_grid_color">
        pn_span_fourth (202px)
      </div>
      <div class="pn_grid_span pn_span_fourth sg_grid_color">
        pn_span_fourth (202px)
      </div>
      <div class="pn_grid_span pn_span_fourth sg_grid_color">
        pn_span_fourth (202px)
      </div>
    </div>

    <div class="pn_grid_row">
      <div class="pn_grid_span pn_span_third sg_grid_color">
        pn_span_third (275px)
      </div>
      <div class="pn_grid_span pn_span_two_third sg_grid_color">
        pn_span_two_third (565px)
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="sg_code">
    &lt;div class="pn_grid_row"&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_full"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_full (855px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/div&gt;<br><br>

    &lt;div class="pn_grid_row"&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_half"&gt; <br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_half (420px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_half"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_half (420px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/div&gt;<br><br>

    &lt;div class="pn_grid_row"&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_third"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_third (275px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_third"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_third (275px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_third"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_third (275px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/div&gt;<br><br>

    &lt;div class="pn_grid_row"&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_fourth"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_fourth (202px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_fourth"&gt; <br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_fourth (202px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_fourth"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_fourth (202px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_fourth"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_fourth (202px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/div&gt;<br>

    &lt;div class="pn_grid_row"&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_third"&gt; <br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_third (275px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_grid_span pn_span_two_third"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pn_span_two_third (565px)<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/div&gt;<br><br>
  </div>
</div>