<div id="sg_icons_container" class="sg_container">

  <div class="sg_style_comments">
    Icons should be drawn
    from <%= link_to "FontAwesome.com", "http://fortawesome.github.io/Font-Awesome/cheatsheet/", target: "_blank" %>
  </div>
  <div class="sg_style_show">

  <div class="sg_span4 pos_fl">
    <ul class="sg_unstyled">
      <li><i class="icon-fixed-width">&#xf000;</i> icon-glass</li>
      <li><i class="icon-fixed-width">&#xf001;</i> icon-music</li>
      <li><i class="icon-fixed-width">&#xf002;</i> icon-search</li>
      <li><i class="icon-fixed-width">&#xf003;</i> icon-envelope</li>
      <li><i class="icon-fixed-width">&#xf004;</i> icon-heart</li>
      <li><i class="icon-fixed-width">&#xf005;</i> icon-star</li>
      <li><i class="icon-fixed-width">&#xf006;</i> icon-star-empty</li>
      <li><i class="icon-fixed-width">&#xf007;</i> icon-user</li>
      <li><i class="icon-fixed-width">&#xf008;</i> icon-film</li>
      <li><i class="icon-fixed-width">&#xf009;</i> icon-th-large</li>
      <li><i class="icon-fixed-width">&#xf00a;</i> icon-th</li>
      <li><i class="icon-fixed-width">&#xf00b;</i> icon-th-list</li>
      <li><i class="icon-fixed-width">&#xf00c;</i> icon-ok</li>
      <li><i class="icon-fixed-width">&#xf00d;</i> icon-remove</li>
      <li><i class="icon-fixed-width">&#xf00e;</i> icon-zoom-in</li>
      <li><i class="icon-fixed-width">&#xf010;</i> icon-zoom-out</li>
      <li><i class="icon-fixed-width">&#xf011;</i> icon-off</li>
      <li><i class="icon-fixed-width">&#xf012;</i> icon-signal</li>
      <li><i class="icon-fixed-width">&#xf013;</i> icon-cog</li>
      <li><i class="icon-fixed-width">&#xf014;</i> icon-trash</li>
      <li><i class="icon-fixed-width">&#xf015;</i> icon-home</li>
      <li><i class="icon-fixed-width">&#xf016;</i> icon-file</li>
      <li><i class="icon-fixed-width">&#xf017;</i> icon-time</li>
      <li><i class="icon-fixed-width">&#xf018;</i> icon-road</li>
      <li><i class="icon-fixed-width">&#xf019;</i> icon-download-alt</li>
      <li><i class="icon-fixed-width">&#xf01a;</i> icon-download</li>
      <li><i class="icon-fixed-width">&#xf01b;</i> icon-upload</li>
      <li><i class="icon-fixed-width">&#xf01c;</i> icon-inbox</li>
      <li><i class="icon-fixed-width">&#xf01d;</i> icon-play-circle</li>
      <li><i class="icon-fixed-width">&#xf01e;</i> icon-repeat</li>
      <li><i class="icon-fixed-width">&#xf021;</i> icon-refresh</li>
      <li><i class="icon-fixed-width">&#xf022;</i> icon-list-alt</li>
      <li><i class="icon-fixed-width">&#xf023;</i> icon-lock</li>
      <li><i class="icon-fixed-width">&#xf024;</i> icon-flag</li>
      <li><i class="icon-fixed-width">&#xf025;</i> icon-headphones</li>
      <li><i class="icon-fixed-width">&#xf026;</i> icon-volume-off</li>
      <li><i class="icon-fixed-width">&#xf027;</i> icon-volume-down</li>
      <li><i class="icon-fixed-width">&#xf028;</i> icon-volume-up</li>
      <li><i class="icon-fixed-width">&#xf029;</i> icon-qrcode</li>
      <li><i class="icon-fixed-width">&#xf02a;</i> icon-barcode</li>
      <li><i class="icon-fixed-width">&#xf02b;</i> icon-tag</li>
      <li><i class="icon-fixed-width">&#xf02c;</i> icon-tags</li>
      <li><i class="icon-fixed-width">&#xf02d;</i> icon-book</li>
      <li><i class="icon-fixed-width">&#xf02e;</i> icon-bookmark</li>
      <li><i class="icon-fixed-width">&#xf02f;</i> icon-print</li>
      <li><i class="icon-fixed-width">&#xf030;</i> icon-camera</li>
      <li><i class="icon-fixed-width">&#xf031;</i> icon-font</li>
      <li><i class="icon-fixed-width">&#xf032;</i> icon-bold</li>
      <li><i class="icon-fixed-width">&#xf033;</i> icon-italic</li>
      <li><i class="icon-fixed-width">&#xf034;</i> icon-text-height</li>
      <li><i class="icon-fixed-width">&#xf035;</i> icon-text-width</li>
      <li><i class="icon-fixed-width">&#xf036;</i> icon-align-left</li>
      <li><i class="icon-fixed-width">&#xf037;</i> icon-align-center</li>
      <li><i class="icon-fixed-width">&#xf038;</i> icon-align-right</li>
      <li><i class="icon-fixed-width">&#xf039;</i> icon-align-justify</li>
      <li><i class="icon-fixed-width">&#xf03a;</i> icon-list</li>
      <li><i class="icon-fixed-width">&#xf03b;</i> icon-indent-left</li>
      <li><i class="icon-fixed-width">&#xf03c;</i> icon-indent-right</li>
      <li><i class="icon-fixed-width">&#xf03d;</i> icon-facetime-video</li>
      <li><i class="icon-fixed-width">&#xf03e;</i> icon-picture</li>
      <li><i class="icon-fixed-width">&#xf040;</i> icon-pencil</li>
      <li><i class="icon-fixed-width">&#xf041;</i> icon-map-marker</li>
      <li><i class="icon-fixed-width">&#xf042;</i> icon-adjust</li>
      <li><i class="icon-fixed-width">&#xf043;</i> icon-tint</li>
      <li><i class="icon-fixed-width">&#xf044;</i> icon-edit</li>
      <li><i class="icon-fixed-width">&#xf045;</i> icon-share</li>
      <li><i class="icon-fixed-width">&#xf046;</i> icon-check</li>
      <li><i class="icon-fixed-width">&#xf047;</i> icon-move</li>
      <li><i class="icon-fixed-width">&#xf048;</i> icon-step-backward</li>
      <li><i class="icon-fixed-width">&#xf049;</i> icon-fast-backward</li>
      <li><i class="icon-fixed-width">&#xf04a;</i> icon-backward</li>
      <li><i class="icon-fixed-width">&#xf04b;</i> icon-play</li>
      <li><i class="icon-fixed-width">&#xf04c;</i> icon-pause</li>
      <li><i class="icon-fixed-width">&#xf04d;</i> icon-stop</li>
      <li><i class="icon-fixed-width">&#xf04e;</i> icon-forward</li>
      <li><i class="icon-fixed-width">&#xf050;</i> icon-fast-forward</li>
      <li><i class="icon-fixed-width">&#xf051;</i> icon-step-forward</li>
      <li><i class="icon-fixed-width">&#xf052;</i> icon-eject</li>
      <li><i class="icon-fixed-width">&#xf053;</i> icon-chevron-left</li>
      <li><i class="icon-fixed-width">&#xf054;</i> icon-chevron-right</li>
      <li><i class="icon-fixed-width">&#xf055;</i> icon-plus-sign</li>
      <li><i class="icon-fixed-width">&#xf056;</i> icon-minus-sign</li>
      <li><i class="icon-fixed-width">&#xf057;</i> icon-remove-sign</li>
      <li><i class="icon-fixed-width">&#xf058;</i> icon-ok-sign</li>
      <li><i class="icon-fixed-width">&#xf059;</i> icon-question-sign</li>
      <li><i class="icon-fixed-width">&#xf05a;</i> icon-info-sign</li>
      <li><i class="icon-fixed-width">&#xf05b;</i> icon-screenshot</li>
      <li><i class="icon-fixed-width">&#xf05c;</i> icon-remove-circle</li>
      <li><i class="icon-fixed-width">&#xf05d;</i> icon-ok-circle</li>
      <li><i class="icon-fixed-width">&#xf05e;</i> icon-ban-circle</li>
      <li><i class="icon-fixed-width">&#xf060;</i> icon-arrow-left</li>
      <li><i class="icon-fixed-width">&#xf061;</i> icon-arrow-right</li>
      <li><i class="icon-fixed-width">&#xf062;</i> icon-arrow-up</li>
      <li><i class="icon-fixed-width">&#xf063;</i> icon-arrow-down</li>
      <li><i class="icon-fixed-width">&#xf064;</i> icon-share-alt</li>
      <li><i class="icon-fixed-width">&#xf065;</i> icon-resize-full</li>
      <li><i class="icon-fixed-width">&#xf066;</i> icon-resize-small</li>
      <li><i class="icon-fixed-width">&#xf067;</i> icon-plus</li>
      <li><i class="icon-fixed-width">&#xf068;</i> icon-minus</li>
      <li><i class="icon-fixed-width">&#xf069;</i> icon-asterisk</li>
      <li><i class="icon-fixed-width">&#xf06a;</i> icon-exclamation-sign</li>
    </ul>
  </div>
  <div class="sg_span4 pos_fl">
    <ul class="sg_unstyled">
      <li><i class="icon-fixed-width">&#xf06b;</i> icon-gift</li>
      <li><i class="icon-fixed-width">&#xf06c;</i> icon-leaf</li>
      <li><i class="icon-fixed-width">&#xf06d;</i> icon-fire</li>
      <li><i class="icon-fixed-width">&#xf06e;</i> icon-eye-open</li>
      <li><i class="icon-fixed-width">&#xf070;</i> icon-eye-close</li>
      <li><i class="icon-fixed-width">&#xf071;</i> icon-warning-sign</li>
      <li><i class="icon-fixed-width">&#xf072;</i> icon-plane</li>
      <li><i class="icon-fixed-width">&#xf073;</i> icon-calendar</li>
      <li><i class="icon-fixed-width">&#xf074;</i> icon-random</li>
      <li><i class="icon-fixed-width">&#xf075;</i> icon-comment</li>
      <li><i class="icon-fixed-width">&#xf076;</i> icon-magnet</li>
      <li><i class="icon-fixed-width">&#xf077;</i> icon-chevron-up</li>
      <li><i class="icon-fixed-width">&#xf078;</i> icon-chevron-down</li>
      <li><i class="icon-fixed-width">&#xf079;</i> icon-retweet</li>
      <li><i class="icon-fixed-width">&#xf07a;</i> icon-shopping-cart</li>
      <li><i class="icon-fixed-width">&#xf07b;</i> icon-folder-close</li>
      <li><i class="icon-fixed-width">&#xf07c;</i> icon-folder-open</li>
      <li><i class="icon-fixed-width">&#xf07d;</i> icon-resize-vertical</li>
      <li><i class="icon-fixed-width">&#xf07e;</i> icon-resize-horizontal</li>
      <li><i class="icon-fixed-width">&#xf080;</i> icon-bar-chart</li>
      <li><i class="icon-fixed-width">&#xf081;</i> icon-twitter-sign</li>
      <li><i class="icon-fixed-width">&#xf082;</i> icon-facebook-sign</li>
      <li><i class="icon-fixed-width">&#xf083;</i> icon-camera-retro</li>
      <li><i class="icon-fixed-width">&#xf084;</i> icon-key</li>
      <li><i class="icon-fixed-width">&#xf085;</i> icon-cogs</li>
      <li><i class="icon-fixed-width">&#xf086;</i> icon-comments</li>
      <li><i class="icon-fixed-width">&#xf087;</i> icon-thumbs-up</li>
      <li><i class="icon-fixed-width">&#xf088;</i> icon-thumbs-down</li>
      <li><i class="icon-fixed-width">&#xf089;</i> icon-star-half</li>
      <li><i class="icon-fixed-width">&#xf08a;</i> icon-heart-empty</li>
      <li><i class="icon-fixed-width">&#xf08b;</i> icon-signout</li>
      <li><i class="icon-fixed-width">&#xf08c;</i> icon-linkedin-sign</li>
      <li><i class="icon-fixed-width">&#xf08d;</i> icon-pushpin</li>
      <li><i class="icon-fixed-width">&#xf08e;</i> icon-external-link</li>
      <li><i class="icon-fixed-width">&#xf090;</i> icon-signin</li>
      <li><i class="icon-fixed-width">&#xf091;</i> icon-trophy</li>
      <li><i class="icon-fixed-width">&#xf092;</i> icon-github-sign</li>
      <li><i class="icon-fixed-width">&#xf093;</i> icon-upload-alt</li>
      <li><i class="icon-fixed-width">&#xf094;</i> icon-lemon</li>
      <li><i class="icon-fixed-width">&#xf095;</i> icon-phone</li>
      <li><i class="icon-fixed-width">&#xf096;</i> icon-check-empty</li>
      <li><i class="icon-fixed-width">&#xf097;</i> icon-bookmark-empty</li>
      <li><i class="icon-fixed-width">&#xf098;</i> icon-phone-sign</li>
      <li><i class="icon-fixed-width">&#xf099;</i> icon-twitter</li>
      <li><i class="icon-fixed-width">&#xf09a;</i> icon-facebook</li>
      <li><i class="icon-fixed-width">&#xf09b;</i> icon-github</li>
      <li><i class="icon-fixed-width">&#xf09c;</i> icon-unlock</li>
      <li><i class="icon-fixed-width">&#xf09d;</i> icon-credit-card</li>
      <li><i class="icon-fixed-width">&#xf09e;</i> icon-rss</li>
      <li><i class="icon-fixed-width">&#xf0a0;</i> icon-hdd</li>
      <li><i class="icon-fixed-width">&#xf0a1;</i> icon-bullhorn</li>
      <li><i class="icon-fixed-width">&#xf0a2;</i> icon-bell</li>
      <li><i class="icon-fixed-width">&#xf0a3;</i> icon-certificate</li>
      <li><i class="icon-fixed-width">&#xf0a4;</i> icon-hand-right</li>
      <li><i class="icon-fixed-width">&#xf0a5;</i> icon-hand-left</li>
      <li><i class="icon-fixed-width">&#xf0a6;</i> icon-hand-up</li>
      <li><i class="icon-fixed-width">&#xf0a7;</i> icon-hand-down</li>
      <li><i class="icon-fixed-width">&#xf0a8;</i> icon-circle-arrow-left</li>
      <li><i class="icon-fixed-width">&#xf0a9;</i> icon-circle-arrow-right</li>
      <li><i class="icon-fixed-width">&#xf0aa;</i> icon-circle-arrow-up</li>
      <li><i class="icon-fixed-width">&#xf0ab;</i> icon-circle-arrow-down</li>
      <li><i class="icon-fixed-width">&#xf0ac;</i> icon-globe</li>
      <li><i class="icon-fixed-width">&#xf0ad;</i> icon-wrench</li>
      <li><i class="icon-fixed-width">&#xf0ae;</i> icon-tasks</li>
      <li><i class="icon-fixed-width">&#xf0b0;</i> icon-filter</li>
      <li><i class="icon-fixed-width">&#xf0b1;</i> icon-briefcase</li>
      <li><i class="icon-fixed-width">&#xf0b2;</i> icon-fullscreen</li>
      <li><i class="icon-fixed-width">&#xf0c0;</i> icon-group</li>
      <li><i class="icon-fixed-width">&#xf0c1;</i> icon-link</li>
      <li><i class="icon-fixed-width">&#xf0c2;</i> icon-cloud</li>
      <li><i class="icon-fixed-width">&#xf0c3;</i> icon-beaker</li>
      <li><i class="icon-fixed-width">&#xf0c4;</i> icon-cut</li>
      <li><i class="icon-fixed-width">&#xf0c5;</i> icon-copy</li>
      <li><i class="icon-fixed-width">&#xf0c6;</i> icon-paper-clip</li>
      <li><i class="icon-fixed-width">&#xf0c7;</i> icon-save</li>
      <li><i class="icon-fixed-width">&#xf0c8;</i> icon-sign-blank</li>
      <li><i class="icon-fixed-width">&#xf0c9;</i> icon-reorder</li>
      <li><i class="icon-fixed-width">&#xf0ca;</i> icon-list-ul</li>
      <li><i class="icon-fixed-width">&#xf0cb;</i> icon-list-ol</li>
      <li><i class="icon-fixed-width">&#xf0cc;</i> icon-strikethrough</li>
      <li><i class="icon-fixed-width">&#xf0cd;</i> icon-underline</li>
      <li><i class="icon-fixed-width">&#xf0ce;</i> icon-table</li>
      <li><i class="icon-fixed-width">&#xf0d0;</i> icon-magic</li>
      <li><i class="icon-fixed-width">&#xf0d1;</i> icon-truck</li>
      <li><i class="icon-fixed-width">&#xf0d2;</i> icon-pinterest</li>
      <li><i class="icon-fixed-width">&#xf0d3;</i> icon-pinterest-sign</li>
      <li><i class="icon-fixed-width">&#xf0d4;</i> icon-google-plus-sign</li>
      <li><i class="icon-fixed-width">&#xf0d5;</i> icon-google-plus</li>
      <li><i class="icon-fixed-width">&#xf0d6;</i> icon-money</li>
      <li><i class="icon-fixed-width">&#xf0d7;</i> icon-caret-down</li>
      <li><i class="icon-fixed-width">&#xf0d8;</i> icon-caret-up</li>
      <li><i class="icon-fixed-width">&#xf0d9;</i> icon-caret-left</li>
      <li><i class="icon-fixed-width">&#xf0da;</i> icon-caret-right</li>
      <li><i class="icon-fixed-width">&#xf0db;</i> icon-columns</li>
      <li><i class="icon-fixed-width">&#xf0dc;</i> icon-sort</li>
      <li><i class="icon-fixed-width">&#xf0dd;</i> icon-sort-down</li>
      <li><i class="icon-fixed-width">&#xf0de;</i> icon-sort-up</li>
      <li><i class="icon-fixed-width">&#xf0e0;</i> icon-envelope-alt</li>
      <li><i class="icon-fixed-width">&#xf0e1;</i> icon-linkedin</li>
      <li><i class="icon-fixed-width">&#xf0e2;</i> icon-undo</li>
      <li><i class="icon-fixed-width">&#xf0e3;</i> icon-legal</li>
    </ul>
  </div>
  <div class="sg_span4 pos_fl">
    <ul class="sg_unstyled">
      <li><i class="icon-fixed-width">&#xf0e4;</i> icon-dashboard</li>
      <li><i class="icon-fixed-width">&#xf0e5;</i> icon-comment-alt</li>
      <li><i class="icon-fixed-width">&#xf0e6;</i> icon-comments-alt</li>
      <li><i class="icon-fixed-width">&#xf0e7;</i> icon-bolt</li>
      <li><i class="icon-fixed-width">&#xf0e8;</i> icon-sitemap</li>
      <li><i class="icon-fixed-width">&#xf0e9;</i> icon-umbrella</li>
      <li><i class="icon-fixed-width">&#xf0ea;</i> icon-paste</li>
      <li><i class="icon-fixed-width">&#xf0eb;</i> icon-lightbulb</li>
      <li><i class="icon-fixed-width">&#xf0ec;</i> icon-exchange</li>
      <li><i class="icon-fixed-width">&#xf0ed;</i> icon-cloud-download</li>
      <li><i class="icon-fixed-width">&#xf0ee;</i> icon-cloud-upload</li>
      <li><i class="icon-fixed-width">&#xf0f0;</i> icon-user-md</li>
      <li><i class="icon-fixed-width">&#xf0f1;</i> icon-stethoscope</li>
      <li><i class="icon-fixed-width">&#xf0f2;</i> icon-suitcase</li>
      <li><i class="icon-fixed-width">&#xf0f3;</i> icon-bell-alt</li>
      <li><i class="icon-fixed-width">&#xf0f4;</i> icon-coffee</li>
      <li><i class="icon-fixed-width">&#xf0f5;</i> icon-food</li>
      <li><i class="icon-fixed-width">&#xf0f6;</i> icon-file-alt</li>
      <li><i class="icon-fixed-width">&#xf0f7;</i> icon-building</li>
      <li><i class="icon-fixed-width">&#xf0f8;</i> icon-hospital</li>
      <li><i class="icon-fixed-width">&#xf0f9;</i> icon-ambulance</li>
      <li><i class="icon-fixed-width">&#xf0fa;</i> icon-medkit</li>
      <li><i class="icon-fixed-width">&#xf0fb;</i> icon-fighter-jet</li>
      <li><i class="icon-fixed-width">&#xf0fc;</i> icon-beer</li>
      <li><i class="icon-fixed-width">&#xf0fd;</i> icon-h-sign</li>
      <li><i class="icon-fixed-width">&#xf0fe;</i> icon-plus-sign-alt</li>
      <li><i class="icon-fixed-width">&#xf100;</i> icon-double-angle-left</li>
      <li><i class="icon-fixed-width">&#xf101;</i> icon-double-angle-right</li>
      <li><i class="icon-fixed-width">&#xf102;</i> icon-double-angle-up</li>
      <li><i class="icon-fixed-width">&#xf103;</i> icon-double-angle-down</li>
      <li><i class="icon-fixed-width">&#xf104;</i> icon-angle-left</li>
      <li><i class="icon-fixed-width">&#xf105;</i> icon-angle-right</li>
      <li><i class="icon-fixed-width">&#xf106;</i> icon-angle-up</li>
      <li><i class="icon-fixed-width">&#xf107;</i> icon-angle-down</li>
      <li><i class="icon-fixed-width">&#xf108;</i> icon-desktop</li>
      <li><i class="icon-fixed-width">&#xf109;</i> icon-laptop</li>
      <li><i class="icon-fixed-width">&#xf10a;</i> icon-tablet</li>
      <li><i class="icon-fixed-width">&#xf10b;</i> icon-mobile-phone</li>
      <li><i class="icon-fixed-width">&#xf10c;</i> icon-circle-blank</li>
      <li><i class="icon-fixed-width">&#xf10d;</i> icon-quote-left</li>
      <li><i class="icon-fixed-width">&#xf10e;</i> icon-quote-right</li>
      <li><i class="icon-fixed-width">&#xf110;</i> icon-spinner</li>
      <li><i class="icon-fixed-width">&#xf111;</i> icon-circle</li>
      <li><i class="icon-fixed-width">&#xf112;</i> icon-reply</li>
      <li><i class="icon-fixed-width">&#xf114;</i> icon-folder-close-alt</li>
      <li><i class="icon-fixed-width">&#xf115;</i> icon-folder-open-alt</li>
      <li><i class="icon-fixed-width">&#xf116;</i> icon-expand-alt</li>
      <li><i class="icon-fixed-width">&#xf117;</i> icon-collapse-alt</li>
      <li><i class="icon-fixed-width">&#xf118;</i> icon-smile</li>
      <li><i class="icon-fixed-width">&#xf119;</i> icon-frown</li>
      <li><i class="icon-fixed-width">&#xf11a;</i> icon-meh</li>
      <li><i class="icon-fixed-width">&#xf11b;</i> icon-gamepad</li>
      <li><i class="icon-fixed-width">&#xf11c;</i> icon-keyboard</li>
      <li><i class="icon-fixed-width">&#xf11d;</i> icon-flag-alt</li>
      <li><i class="icon-fixed-width">&#xf11e;</i> icon-flag-checkered</li>
      <li><i class="icon-fixed-width">&#xf120;</i> icon-terminal</li>
      <li><i class="icon-fixed-width">&#xf121;</i> icon-code</li>
      <li><i class="icon-fixed-width">&#xf122;</i> icon-reply-all</li>
      <li><i class="icon-fixed-width">&#xf122;</i> icon-mail-reply-all</li>
      <li><i class="icon-fixed-width">&#xf123;</i> icon-star-half-full</li>
      <li><i class="icon-fixed-width">&#xf123;</i> icon-star-half-empty</li>
      <li><i class="icon-fixed-width">&#xf124;</i> icon-location-arrow</li>
      <li><i class="icon-fixed-width">&#xf125;</i> icon-crop</li>
      <li><i class="icon-fixed-width">&#xf126;</i> icon-code-fork</li>
      <li><i class="icon-fixed-width">&#xf127;</i> icon-unlink</li>
      <li><i class="icon-fixed-width">&#xf128;</i> icon-question</li>
      <li><i class="icon-fixed-width">&#xf129;</i> icon-info</li>
      <li><i class="icon-fixed-width">&#xf12a;</i> icon-exclamation</li>
      <li><i class="icon-fixed-width">&#xf12b;</i> icon-superscript</li>
      <li><i class="icon-fixed-width">&#xf12c;</i> icon-subscript</li>
      <li><i class="icon-fixed-width">&#xf12d;</i> icon-eraser</li>
      <li><i class="icon-fixed-width">&#xf12e;</i> icon-puzzle-piece</li>
      <li><i class="icon-fixed-width">&#xf130;</i> icon-microphone</li>
      <li><i class="icon-fixed-width">&#xf131;</i> icon-microphone-off</li>
      <li><i class="icon-fixed-width">&#xf132;</i> icon-shield</li>
      <li><i class="icon-fixed-width">&#xf133;</i> icon-calendar-empty</li>
      <li><i class="icon-fixed-width">&#xf134;</i> icon-fire-extinguisher</li>
      <li><i class="icon-fixed-width">&#xf135;</i> icon-rocket</li>
      <li><i class="icon-fixed-width">&#xf136;</i> icon-maxcdn</li>
      <li><i class="icon-fixed-width">&#xf137;</i> icon-chevron-sign-left</li>
      <li><i class="icon-fixed-width">&#xf138;</i> icon-chevron-sign-right</li>
      <li><i class="icon-fixed-width">&#xf139;</i> icon-chevron-sign-up</li>
      <li><i class="icon-fixed-width">&#xf13a;</i> icon-chevron-sign-down</li>
      <li><i class="icon-fixed-width">&#xf13b;</i> icon-html5</li>
      <li><i class="icon-fixed-width">&#xf13c;</i> icon-css3</li>
      <li><i class="icon-fixed-width">&#xf13d;</i> icon-anchor</li>
      <li><i class="icon-fixed-width">&#xf13e;</i> icon-unlock-alt</li>
      <li><i class="icon-fixed-width">&#xf140;</i> icon-bullseye</li>
      <li><i class="icon-fixed-width">&#xf141;</i> icon-ellipsis-horizontal</li>
      <li><i class="icon-fixed-width">&#xf142;</i> icon-ellipsis-vertical</li>
      <li><i class="icon-fixed-width">&#xf143;</i> icon-rss-sign</li>
      <li><i class="icon-fixed-width">&#xf144;</i> icon-play-sign</li>
      <li><i class="icon-fixed-width">&#xf145;</i> icon-ticket</li>
      <li><i class="icon-fixed-width">&#xf146;</i> icon-minus-sign-alt</li>
      <li><i class="icon-fixed-width">&#xf147;</i> icon-check-minus</li>
      <li><i class="icon-fixed-width">&#xf148;</i> icon-level-up</li>
      <li><i class="icon-fixed-width">&#xf149;</i> icon-level-down</li>
      <li><i class="icon-fixed-width">&#xf14a;</i> icon-check-sign</li>
      <li><i class="icon-fixed-width">&#xf14b;</i> icon-edit-sign</li>
      <li><i class="icon-fixed-width">&#xf14c;</i> icon-external-link-sign</li>
      <li><i class="icon-fixed-width">&#xf14d;</i> icon-share-sign</li>
    </ul>
  </div>

  <div class="clear"></div>
  <div class="sg_code">
    &lt;i class="icon-rocket icon-fixed-width"&gt;&lt;/i&gt;
  </div>
  </div>

</div>