<div id="sg_interactions_container" class="sg_container">

  <div class="sg_style_comments">
    240 character limit on the question.<br><br>
    25 character limit for draggable items.<br><br>
    All images will be resized to fit the listed dimensions (while retaining their aspect ratio).
  </div>
  <div class="sg_style_show">

    <div id="mc_content" class="sg_interaction_background">
      <div class="sg_interaction_question_nav">
        <div class="sg_interaction_question">Whose Line is it Anyway? (often known as simply Whose Line?) is an
          improvisational comedy show, which was originally hosted by Drew Carey on ABC and ABC Family and ran from
          August 5, 1998 to December 15, 2007. Repeats and previously unaired word.
        </div>
        <div class="sg_interaction_left_arrow sg_interaction_arrow"><i class="icon-caret-left"></i></div>
        <div class="sg_interaction_position">11 of 15</div>
        <div class="sg_interaction_right_arrow sg_interaction_arrow"><i class="icon-caret-right"></i></div>
      </div>

      <div class="sg_mc_answer_box">
        <span>Content <br>286x550</span><br>
      </div>
      <div class="sg_mc_image">
        <span>Image/Video <br>635x550</span><br>
        Image/video will be resized to fit within this box while retaining aspect ratio. Empty
        space will be filled by our default color.
      </div>
    </div>

    <div id="lc_content" class="sg_interaction_background">
      <div class="sg_interaction_question_nav">
        <div class="sg_interaction_question">Whose Line is it Anyway? (often known as simply Whose Line?) is an
          improvisational comedy show, which was originally hosted by Drew Carey on ABC and ABC Family and ran from
          August 5, 1998 to December 15, 2007. Repeats and previously unaired word.
        </div>
        <div class="sg_interaction_left_arrow sg_interaction_arrow"><i class="icon-caret-left"></i></div>
        <div class="sg_interaction_position">12 of 15</div>
        <div class="sg_interaction_right_arrow sg_interaction_arrow"><i class="icon-caret-right"></i></div>
      </div>

      <div class="sg_lc_answer_box">
        <span>Content <br>286x550</span><br>
      </div>
      <div class="sg_lc_right_side">
        <div id="sg_lc_top" class="sg_lc_drop_container">
          <div class="sg_lc_img_dropzone">
            Image 1<br>
            <span>200x160</span>
          </div>
          <div class="sg_lc_text_dropzone">25 Characters Max</div>
        </div>
        <div id="sg_lc_left" class="sg_lc_drop_container">
          <div class="sg_lc_img_dropzone">
            Image 4<br>
            <span>200x160</span>
          </div>
          <div class="sg_lc_text_dropzone">25 Characters Max</div>
        </div>
        <div id="sg_lc_right" class="sg_lc_drop_container">
          <div class="sg_lc_img_dropzone">
            Image 2<br>
            <span>200x160</span>
          </div>
          <div class="sg_lc_text_dropzone">25 Characters Max</div>
        </div>
        <div id="sg_lc_bottom" class="sg_lc_drop_container">
          <div class="sg_lc_img_dropzone">
            Image 3<br>
            <span>200x160</span>
          </div>
          <div class="sg_lc_text_dropzone">25 Characters Max</div>
        </div>
        Image (background)<br><span>635x550</span>
      </div>
    </div>

    <div id="mic_content" class="sg_interaction_background">
      <div class="sg_interaction_question_nav">
        <div class="sg_interaction_question">Whose Line is it Anyway? (often known as simply Whose Line?) is an
          improvisational comedy show, which was originally hosted by Drew Carey on ABC and ABC Family and ran from
          August 5, 1998 to December 15, 2007. Repeats and previously unaired word.
        </div>
        <div class="sg_interaction_left_arrow sg_interaction_arrow"><i class="icon-caret-left"></i></div>
        <div class="sg_interaction_position">13 of 15</div>
        <div class="sg_interaction_right_arrow sg_interaction_arrow"><i class="icon-caret-right"></i></div>
      </div>

      <div id="sg_mic_left">
        <div id="sg_mic_top_left" class="sg_mic_option">
          Image 1<br>
          <span>260x260</span>
        </div>
        <div id="sg_mic_top_right" class="sg_mic_option">
          Image 2<br>
          <span>260x260</span>
        </div>
        <div id="sg_mic_bottom_left" class="sg_mic_option">
          Image 3<br>
          <span>260x260</span>
        </div>
        <div id="sg_mic_bottom_right" class="sg_mic_option">
          Image 4<br>
          <span>260x260</span>
        </div>
      </div>

      <div id="sg_mic_right">
        <span>Content<br>370x550</span>
      </div>

    </div>

    <div id="paragraph_content" class="sg_interaction_background">
      <div class="sg_interaction_question_nav">
        <div class="sg_interaction_question">Whose Line is it Anyway? (often known as simply Whose Line?) is an
          improvisational comedy show, which was originally hosted by Drew Carey on ABC and ABC Family and ran from
          August 5, 1998 to December 15, 2007. Repeats and previously unaired word.
        </div>
        <div class="sg_interaction_left_arrow sg_interaction_arrow"><i class="icon-caret-left"></i></div>
        <div class="sg_interaction_position">14 of 15</div>
        <div class="sg_interaction_right_arrow sg_interaction_arrow"><i class="icon-caret-right"></i></div>
      </div>
      <div class="sg_draggables">
        <span>Draggables <br>286x550</span><br>
      </div>

      <div class="sg_dropzone">
        <span>Dropzone <br>635x550</span><br>
      </div>
    </div>

    <div id="vocab_content" class="sg_interaction_background">
      <div class="sg_interaction_question_nav">
        <div class="sg_interaction_question">Whose Line is it Anyway? (often known as simply Whose Line?) is an
          improvisational comedy show, which was originally hosted by Drew Carey on ABC and ABC Family and ran from
          August 5, 1998 to December 15, 2007. Repeats and previously unaired word.
        </div>
        <div class="sg_interaction_left_arrow sg_interaction_arrow"><i class="icon-caret-left"></i></div>
        <div class="sg_interaction_position">15 of 15</div>
        <div class="sg_interaction_right_arrow sg_interaction_arrow"><i class="icon-caret-right"></i></div>
      </div>
      <div class="sg_draggables">
        <span>Draggables <br>286x550</span><br>
      </div>

      <div class="sg_dropzone">
        <span>Dropzone <br>635x550</span><br>
      </div>
    </div>

    <div class="sg_hotlink_container">
      <div id="mc_hotlink" class="interaction_hotlinks sg_interaction_active">Multiple Choice</div>
      <div id="lc_hotlink" class="interaction_hotlinks">Life Cycle</div>
      <div id="mic_hotlink" class="interaction_hotlinks">Multiple Image Choice</div>
      <div id="paragraph_hotlink" class="interaction_hotlinks">Paragraph DnD</div>
      <div id="vocab_hotlink" class="interaction_hotlinks">Vocab DnD</div>
    </div>
  </div>
</div>