<div class="sg_style_comments">
240 character limit on the question.
</div>
<div class="sg_style_show">

  <div id="sg_interaction_background">
    <div id="sg_interaction_question_nav">
      <div id="sg_interaction_question">Whose Line is it Anyway? (often known as simply Whose Line?) is an improvisational comedy show, which was originally hosted by Drew Carey on ABC and ABC Family and ran from August 5, 1998 to December 15, 2007. Repeats and previously unaired word.
      </div>
      <div id="sg_interaction_left_arrow" class="sg_interaction_arrow"><i class="icon-caret-left"></i></div>
      <div id="sg_interaction_position">11 of 15</div>
      <div id="sg_interaction_right_arrow" class="sg_interaction_arrow"><i class="icon-caret-right"></i></div>
    </div>

    <div class="sg_mc_answer_box">
      <span>Content <br>286x550</span><br>
    </div>
    <div class="sg_mc_image">
      <span>Image <br>635x550</span><br>
      Images will be resized to fit within this box while retaining proportions. Empty
      space will be filled by our default color.
    </div>

  </div>

  <div id="mc_hotlink" class="hotlinks active">Multiple Choice</div>
</div>