<div class="sg_style_comments">

</div>
<div class="sg_style_show">

  <div id="sg_interaction_background">
    <div id="sg_interaction_question_nav">
      <div id="sg_interaction_left_arrow" class="sg_interaction_arrow"><i class="icon-caret-left"></i></div>
      <div id="sg_interaction_question">This is a question with some words?</div>
      <div id="sg_interaction_right_arrow" class="sg_interaction_arrow"><i class="icon-caret-right"></i></div>
    </div>
  </div>

</div>