<div id="sg_popups_container" class="sg_container">
  <div class="sg_style_comments">
  </div>
  <div class="sg_style_show">
    <h2>Triggered Popup (Tooltip)</h2>

    <p class="sg_subtle"></p>
    <br>

    <div class="pos_fl">Popup right
      <div class="inline pos_rel js_popup_wrapper tooltip_wrapper">
        <i class="icon-question-sign js_popup_trigger cursor_point"></i>

        <div class='js_popup tooltip_popup'>
          <div class='tooltip_header'></div>
          <div class='js_popup_close close_tooltip_popup'></div>
          <div class='tooltip_text'>
            <h5 class="mt0">Header:</h5>
            <br>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pos_fl ml75">Popup above
      <div class="inline pos_rel js_popup_wrapper tooltip_wrapper above_trigger">
        <i class="icon-question-sign js_popup_trigger cursor_point"></i>

        <div class='js_popup tooltip_popup'>
          <div class='tooltip_header'></div>
          <div class='js_popup_close close_tooltip_popup'></div>
          <div class='tooltip_text'>
            <h5 class="mt0">Header:</h5>
            <br>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pos_fl ml75">Popup below
      <div class="inline pos_rel js_popup_wrapper tooltip_wrapper below_trigger">
        <i class="icon-question-sign js_popup_trigger cursor_point"></i>

        <div class='js_popup tooltip_popup'>
          <div class='tooltip_header'></div>
          <div class='js_popup_close close_tooltip_popup'></div>
          <div class='tooltip_text'>
            <h5 class="mt0">Header:</h5>
            <br>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pos_fl ml75">Popup left
      <div class="inline pos_rel js_popup_wrapper tooltip_wrapper left_of_trigger">
        <i class="icon-question-sign js_popup_trigger cursor_point"></i>

        <div class='js_popup tooltip_popup'>
          <div class='tooltip_header'></div>
          <div class='js_popup_close close_tooltip_popup'></div>
          <div class='tooltip_text'>
            <h5 class="mt0">Header:</h5>
            <br>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>
    <hr/>

    <div class="sg_code">
    &nbsp;&nbsp;&lt;div class="pos_fl ml75"&gt;Popup above<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="inline pos_rel js_popup_wrapper tooltip_wrapper |above_trigger|below_trigger|left_of_trigger"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="icon-question-sign js_popup_trigger cursor_point"&gt;&lt;/i&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='js_popup tooltip_popup'&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='tooltip_header'&gt;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='js_popup_close close_tooltip_popup'&gt;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='tooltip_text'&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;h5 class="mt0"&gt;Header:&lt;/h5&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;br&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Item 1&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Item 2&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Item 3&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;/div&gt;
    </div>
  </div>
</div>