<div class="sg_style_comments">
  Current Store tab style. This style is not implemented in Plato yet. <br><br>
  The associated JavaScript only works with one set of tabs. <strong>Do not use two on one page</strong>.
  <br><br>
  (Requires pnTabs.js)


</div>
<div class="sg_style_show">

  <div id="pn_tabs_container">
    <div class="pn_tabs_wrapper">
      <div class="pn_tab tab_dividers start_tab selected_tab_right"></div>
      <div id="Tab1" class="pn_tab selected_tab pn_center_tab">Tab 1</div>
      <div class="pn_tab tab_dividers selected_tab_left"></div>
      <div id="TabB" class="pn_tab pn_center_tab">Tab B</div>
      <div class="pn_tab tab_dividers"></div>
      <div id="TabThird" class="pn_tab pn_center_tab">Tab Third</div>
      <div class="pn_tab tab_dividers end_tab"></div>
    </div>
  </div>

  <div id="Tab1_content" class="pn_tabbed_content">
    ARTHUR: O Knights of Ni, we have brought you your shrubbery. May we go now?
    <br><br>
    HEAD KNIGHT: It is a good shrubbery. I like the laurels particularly,... but there is one small problem.
    <br><br>
    ARTHUR: What is that?
    <br><br>
    HEAD KNIGHT: We are now... no longer the Knights Who Say 'Ni'.
    <br><br>
    KNIGHTS OF NI: Ni! Shh!
    <br><br>
    HEAD KNIGHT: Shh! We are now the Knights Who Say 'Ecky-ecky-ecky-ecky-pikang-zoop-boing-goodem-zu-owly-zhiv'.
    <br><br>
    RANDOM: Ni!
  </div>
  <div id="TabB_content" class="pn_tabbed_content hide">
    HEAD KNIGHT: Therefore, we must give you a test.
    <br><br>
    ARTHUR: What is this test, O Knights of-- knights who till recently said 'ni'?
    <br><br>
    HEAD KNIGHT: Firstly, you must find... another shrubbery!
    <br><br>
    [dramatic chord]
    <br><br>
    ARTHUR: Not another shrubbery!
    <br><br>
    RANDOM: Ni!
    <br><br>
    HEAD KNIGHT: Then, when you have found the shrubbery, you must place it here beside this shrubbery,
    only slightly higher so you get the two-level effect with a little path running down the middle.
  </div>
  <div id="TabThird_content" class="pn_tabbed_content hide">
    KNIGHTS OF NI: A path! A path! A path! Ni! Shh! Knights of Ni! Ni! Ni! Shh! Shh!...
    <br><br>
    HEAD KNIGHT: Then, when you have found the shrubbery, you must cut down the mightiest tree in the forest... with...
    a herring!
    <br><br>
    [dramatic chord]
    <br><br>
    KNIGHTS OF NI: A herring!
    <br><br>
    ARTHUR: We shall do no such thing!
    <br><br>
    HEAD KNIGHT: Oh, please!
    <br><br>
    ARTHUR: Cut down a tree with a herring? It can't be done.
    <br><br>
    KNIGHTS OF NI: Aaaaugh! Aaaugh!
    <br><br>
    HEAD KNIGHT: Augh! Ohh! Don't say that word.
  </div>
  <div class="sg_code">

    &lt;div id="pn_tabs_container"&gt;<br>
    &nbsp;&nbsp;&lt;div class="pn_tabs_wrapper"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="pn_tab tab_dividers start_tab selected_tab_right"&gt;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="Tab1" class="pn_tab selected_tab pn_center_tab"&gt;Tab 1 &lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="pn_tab tab_dividers selected_tab_left"&gt;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="TabB" class="pn_tab pn_center_tab"&gt;Tab B &lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="pn_tab tab_dividers"&gt;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="TabThird" class="pn_tab pn_center_tab"&gt;Tab Third &lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="pn_tab tab_dividers end_tab"&gt;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/div&gt;<br>
    <br>
    &lt;div id="Tab1_content" class="pn_tabbed_content"><br>
    &nbsp;&nbsp;ARTHUR: O Knights of Ni...<br>
    &lt;/div&gt;<br>
    <br>
    &lt;div id="TabB_content" class="pn_tabbed_content"><br>
    &nbsp;&nbsp;HEAD KNIGHT: Therefore, we...<br>
    &lt;/div&gt;<br>
    <br>
    &lt;div id="TabThird_content" class="pn_tabbed_content"><br>
    &nbsp;&nbsp;KNIGHTS OF NI: A path! A path...<br>
    &lt;/div&gt;<br>

  </div>

</div>