<div id="sg_typography_container" class="sg_container">

  <div class="sg_style_comments">
    Default font stack is: arial, helvetica, clean, sans-serif
  </div>
  <div class="sg_style_show">
    <h2>Headers</h2>
    <p class="sg_subtle">Usage instructions</p>
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <hr />
    <h2>Links</h2>
    <p class="sg_subtle">Text links</p>
    <a href="" class="pold_default_link">Next/Previous Section, Section Title</a>
    <br>
    <br>
    <a href="" class="pold_default_link pold_toc_link">TOC link</a>
    <br>
    <br>
    <a href="" class="pold_breadcrumbs_link">Breadcrumbs link</a>
    <br>
    <br>
    <a href="" class="pold_footer_link">Footer link</a>
  </div>
</div>