<div class="sg_sections_wrapper">
  <section id="layout_style">
    <h2 class="sg_h2">layout</h2>
  </section>

  <section id="typography_style">
    <h2 class="sg_h2">typography</h2>
  </section>

  <section id="code_style">
    <h2 class="sg_h2">code</h2>
  </section>

  <section id="tables_style">
    <h2 class="sg_h2">tables</h2>
  </section>

  <section id="forms_style">
    <h2 class="sg_h2">forms</h2>
  </section>

  <section id="colors_style">
    <h2 class="sg_h2">colors</h2>
  </section>

  <section id="buttons_style">
    <h2 class="sg_h2">buttons</h2>
  </section>
</div>

